$Cinema_primary: #13BE13;
$Cinema_dark: #060F19;
$Cinema_light_dark: #182028;
$Cinema_light: #FFFFFF;
$Cinema_facebook: #02b0e8;
$Cinema_twitter: #02b0e8;
$Cinema_linkedin: #00a098;
$Cinema_instagram: #c22e2a;
$Cinema_pinterest: #b00a1b;


body {
    background-color: $Cinema_light_dark;
}